*DS_Store
dist/
*.egg-info/
.eggs/
__pycache__/
tpls/
build/
internal/
*.inp
lagrit.log
lagrit.out
outx3dgen
logx3dgen
.vscode/
.idea/
.ipynb_checkpoints/
docs/_build/
*.exo
*.vtk
docs/workflows/*.ipynb
docs/examples-py/
docs/auto_examples/