numpy
matplotlib==3.*
ipython
jupyterlab
h5py
netCDF4
pexpect>=4.8.0
Pillow
rich
#rpy2
vtk
Shapely
snowy
scipy
pyvista
pyshp
pyproj
MeshPy
GDAL
fiona
richdem
setuptools>=56.0.0
Sphinx
furo
sphinxcontrib-napoleon
panel