numpy
matplotlib==3.*
ipython
jupyterlab
h5py
netCDF4
pexpect>=4.8.0
Pillow
scikit-image
rich
rpy2
rasterio
vtk
Shapely
snowy
scipy
pyvista
pyshp
pyproj
mkdocs
MeshPy
GDAL
fiona
geopandas
richdem
setuptools>=56.0.0