name: ci

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ees16/tinerator:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      - name: Test Docker
        run: |
          docker run \
            ees16/tinerator:latest \
            /bin/bash -c "cd tinerator/ && pytest -v"
      - name: Copy documentation from Docker container
        run: |
          docker run \
            -v $(pwd)/doc_deploy/:/home/docker_user/doc_deploy/ \
            --user root \
            ees16/tinerator:latest \
            /bin/bash -c "cp -r /home/docker_user/tinerator/docs/ /home/docker_user/doc_deploy/"
      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc_deploy